:root {
  /* === Color Palette === */
  --color-primary: #ffffff;
  --color-secondary: #000102;
  --color-accent: #236296;
  /* --color-tertiary: #a0522d;
     --color-highlight: #cd853f; */

  /* === Grayscale Ramp === */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* === Breakpoints === */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  /* === TYPE SIZE for random type=== */
  --type-size-1: 12px;
  --type-size-2: 20px;
  --type-size-3: 30px;
  --type-size-4: 40px;




}

/* === Base === */
body {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--gray-800);
  background-color: var(--gray-50);
  padding: 2rem 0 0 0;
  letter-spacing: 0.11em;
}

.type-size-1 {
  font-size: var(--type-size-1);
}

.type-size-2 {
  font-size: var(--type-size-2);
}

/* === Typography === */
h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48pt;
  letter-spacing: 5.3pt;
  line-height: 1.2;
  color: var(--color-secondary);
  margin: 0rem 3rem 0rem 3rem;
}

h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 35pt;
  letter-spacing: 5.3pt;
  line-height: 1.2;
  color: var(--color-secondary);
  margin: 1rem 3rem 1.5rem 2rem;
}

h3,
h4 {
  font-family: var(--font-family);
  font-size: 20pt;
  font-weight: 500;
  line-height: 1;
  color: var(--color-secondary);
  margin: 2rem 2rem 0.5rem 2rem;
}

h5 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12pt;
  line-height: 1;
  letter-spacing: 2.3pt;
  color: var(--color-secondary);
  margin: 0rem 2rem 0rem 2rem;
}

p {
  /*paragraph styling*/
  margin: 0rem 2rem 1rem 2rem;
  font-size: 12pt;
}

a {
  color: inherit;
  /* use the parent’s color instead of blue */
  text-decoration: none;
  /* remove underline */
}

a:hover {
  text-decoration: underline;
  /* optional — adds underline on hover */
  color: var(--color-accent);
  /* optional — change color when hovered */
}

/* === Images === */
.heading-img,
.cat-img {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  border: 0;
}

.butterfly-img {
  max-width: 50%;
}


/* === Text Alignment Helpers === */
.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

/* === Grid testing! === */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal columns, 1fr is 1 fraction */
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  /* space between items */
  padding: 1rem;
}

.grid-item {
  background-color: var(--gray-100);
  border: 0px solid var(--gray-300);
  text-align: center;
  padding: 1rem;
  border-radius: 0px;
}

/* .grid-container a img {
  transition: transform 0.3s ease;
} */

.grid-container a img:hover {
  animation: wiggle-scale 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;
}

@media (max-width: var(--breakpoint-md)) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: var(--breakpoint-sm)) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@keyframes wiggle-scale {
  0% {
    transform: scale(1.01) rotate(0deg);
  }

  25% {
    transform: scale(1.08) rotate(3deg);
  }

  50% {
    transform: scale(1.12) rotate(-3deg);
  }

  60% {
    transform: scale(1.1) rotate(3deg);
  }

  70% {
    transform: scale(1.12) rotate(-3deg);
  }

  80% {
    transform: scale(1.08) rotate(3deg);
  }

  100% {
    transform: scale(1.01) rotate(0deg);
  }
}

.float-img {
  position: absolute;
  width: 340px;
  cursor: pointer;
  pointer-events: auto;
  transform-origin: center;
}
